<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebbIE4.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <WebbIE4.My.MySettings>
            <setting name="DefaultCharset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultLocale" serializeAs="String">
                <value>1033</value>
            </setting>
            <setting name="AllowPopupWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NavigationSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuickKeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarCaptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="DisplayFont" serializeAs="String">
                <value>Arial, 15.75pt</value>
            </setting>
            <setting name="TelemetryId" serializeAs="String">
                <value>NOTDEFINED</value>
            </setting>
            <setting name="UseIEHomepage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FavoritesRefreshTime" serializeAs="String">
                <value>1990-01-01</value>
            </setting>
            <setting name="LastVersionRun" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value/>
            </setting>
            <setting name="ColourScheme" serializeAs="String">
                <value>0</value>
            </setting>
        </WebbIE4.My.MySettings>
    </userSettings>
</configuration>
